@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin-Regular.ttf) format("truetype"),
         url(../fonts/Cabin-Bold.ttf) format("truetype");
}



// CSS reset
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    outline: none;
}

html, body {
    height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}



// Main styles
body {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-family: 'Cabin', sans-serif;
    background: linear-gradient(305deg, hsl(215, 50%, 23%) 0%, hsl(182, 43%, 76%) 100%);
    color: hsl(0, 0%, 100%);
    animation: slide-in 300ms forwards ease-in;
    overflow: hidden;
}

.page {
    width: 300px;
}

.form {
    margin-bottom: 2rem;

    &__group {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-bottom: 1rem;

    }

    &__icon {
        margin-right: 0.5rem;


        svg {
            width: 32px;
            fill: hsl(0, 0%, 100%);
        }
    }

    .group__container {
        width: 100%;
    }

    &__division {
        width: 50%;


        &:first-child {
            margin-right: 1rem;
        }
    }

    &__label {
        display: block;
    }

    &__input {
        height: 2.5rem;
        padding: 0 0.3rem;
        border-radius: 5px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: hsl(0, 0%, 100%);
        background-image: url("../images/chevron-down.svg");
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 97% center;
        color: hsl(235, 21%, 21%);
        transition: all 200ms ease; 


        &:hover, &:focus {
            box-shadow: 0 0 0 5px hsl(235, 21%, 21%);
        }
    }   
            
    &__input--full {
        width: 100%;
    }

    &__submit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        position: relative;
    }
}

.loader {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    animation: rotation 1.5s infinite linear;
    margin-top: 5px;
    display: none;
}

.results {
    border-top: 1px solid hsl(0, 0%, 100%);


    &__header {
        padding-top: 0.25rem;
    }

    &__title {
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    &__results {
        margin-top: 0.75rem;
        padding-top: 0.25rem;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 2rem;
    }

    &__departure, &__arrival, &__departure-date, &__return-date {
        font-weight: 400;
    }
}

.btn {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 6px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover, &:focus {
        background-color: hsl(202, 45%, 72%);
    }

    &:active {
        top: 3px;
        left: 3px;


        &::after {
            top: 0;
            left: 0;
        }
    }

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 6px;
        left: 6px;
        border: 2px solid hsl(0, 0%, 100%);
        border-radius: inherit;
        z-index: -1;
        transition: inherit;
    }
}

.hidden {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-359deg);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}