@font-face {
    font-family: Asap;
    src: url(../fonts/Asap-Regular.ttf) format("truetype"),
         url(../fonts/Asap-Bold.ttf) format("truetype");
}



// CSS reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}



// Main styles
body {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-family: 'Asap', sans-serif;
    background: linear-gradient(305.42deg, hsl(215, 50%, 23%) 0%, hsl(182, 43%, 76%) 100%);
    color: white;
}

.form {
    width: 300px;

    &__group {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-bottom: 1rem;
    }

    &__icon {
        margin-right: 0.5rem;

        svg {
            width: 32px;
            fill: white;
        }
    }

    .group__container {
        width: 100%;
    }

    &__division {
        width: 50%;
    }

    &__division:first-child {
        margin-right: 1rem;
    }

    &__label {
        display: block;
    }

    &__input {
        height: 40px;
    }
            
    &__input--full {
        width: 100%;
    }

    &__btn--submit {
        width: 100%;
    }
}

.btn {
    padding: 0.4rem 2rem;
}